@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

body{
  background-color: #181818;
  margin: 0;
  font-family: 'Raleway', sans-serif;
}

nav {
  margin: 0px;
  color: #B3B3B3;
  top: 0;
  left: 0;
  width: 15%;
  height: 100vh;
  text-align: center;
  background-color: #121212;
}

.artistsPage{
  display: flex;

}

.emptyLikes {
  margin-bottom: 250px;
}

.likedAndRecommended {
  margin-left: 2%;
  color: #FFFFFF;
  width: 83%;
}

.logo{
  width:75%;
}
.currentPage{
  color: #FFFFFF;
}